Perform the following operations on iris dataset
1. Display mean, median, minimum, maximum, standard deviation
2. Provide mean, median, minimum, maximum, standard deviation for a
given dataset by grouping using one of the qualitative (categorical)
variable
3. Display missing values and inconsistencies.
4. Replace missing values using any 2 suitable

In [2]:
import pandas as pd
import numpy as np
import statistics

In [3]:
df=pd.read_csv("iris.csv")

In [4]:
data = df.groupby(["Species"])
data.agg([np.sum, np.mean, np.max,np.std])

C:\Users\HP\AppData\Local\Temp\ipykernel_22888\1480045039.py:2: FutureWarning: The provided callable <function sum at 0x000001EAD012FF40> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  data.agg([np.sum, np.mean, np.max,np.std])
C:\Users\HP\AppData\Local\Temp\ipykernel_22888\1480045039.py:2: FutureWarning: The provided callable <function mean at 0x000001EAD0154EE0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  data.agg([np.sum, np.mean, np.max,np.std])
C:\Users\HP\AppData\Local\Temp\ipykernel_22888\1480045039.py:2: FutureWarning: The provided callable <function max at 0x000001EAD01545E0> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  data.agg([np.sum, np.mean, np.max,np.std])
C:\Users\HP\AppData\Local\Temp\ipykernel_22888\1480045039.py:2: FutureWarning: The provided callable <function std at 0x000001EAD0155000> is currently using SeriesGroupBy.std. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "std" instead.
  data.agg([np.sum, np.mean, np.max,np.std])
C:\Users\HP\AppData\Local\Temp\ipykernel_22888\1480045039.py:2: FutureWarning: The provided callable <function sum at 0x000001EAD012FF40> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  data.agg([np.sum, np.mean, np.max,np.std])

                   Id                       SepalLengthCm              \
                  sum   mean  max       std           sum   mean  max
Species
Iris-setosa      1275   25.5   50  14.57738         250.3  5.006  5.8
Iris-versicolor  3775   75.5  100  14.57738         296.8  5.936  7.0
Iris-virginica   6275  125.5  150  14.57738         329.4  6.588  7.9

                          SepalWidthCm                       PetalLengthCm  \
                      std          sum   mean  max       std           sum
Species
Iris-setosa      0.352490        170.9  3.418  4.4  0.381024          73.2
Iris-versicolor  0.516171        138.5  2.770  3.4  0.313798         213.0
Iris-virginica   0.635880        148.7  2.974  3.8  0.322497         277.6

                                      PetalWidthCm
                  mean  max       std          sum   mean  max       std
Species
Iris-setosa      1.464  1.9  0.173511         12.2  0.244  0.6  0.107210
Iris-versicolor  4.260  5.1  0.469911         66.3  1.326  1.8  0.197753
Iris-virginica   5.552  6.9  0.551895        101.3  2.026  2.5  0.274650

In [5]:
df.groupby(["Species"])["SepalWidthCm"].apply(statistics.mode)

Species
Iris-setosa        3.4
Iris-versicolor    3.0
Iris-virginica     3.0
Name: SepalWidthCm, dtype: float64

In [6]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [14]:
data = df.groupby(["Species"])["SepalWidthCm"]
data.agg([np.sum,np.min,np.max,np.std,statistics.mode,np.median])

C:\Users\HP\AppData\Local\Temp\ipykernel_22888\3630700459.py:2: FutureWarning: The provided callable <function sum at 0x000001EAD012FF40> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  data.agg([np.sum,np.min,np.max,np.std,statistics.mode,np.median])
C:\Users\HP\AppData\Local\Temp\ipykernel_22888\3630700459.py:2: FutureWarning: The provided callable <function min at 0x000001EAD0154700> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  data.agg([np.sum,np.min,np.max,np.std,statistics.mode,np.median])
C:\Users\HP\AppData\Local\Temp\ipykernel_22888\3630700459.py:2: FutureWarning: The provided callable <function max at 0x000001EAD01545E0> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  data.agg([np.sum,np.min,np.max,np.std,statistics.mode,np.median])
C:\Users\HP\AppData\Local\Temp\ipykernel_22888\3630700459.py:2: FutureWarning: The provided callable <function std at 0x000001EAD0155000> is currently using SeriesGroupBy.std. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "std" instead.
  data.agg([np.sum,np.min,np.max,np.std,statistics.mode,np.median])
C:\Users\HP\AppData\Local\Temp\ipykernel_22888\3630700459.py:2: FutureWarning: The provided callable <function median at 0x000001EAD026BF40> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  data.agg([np.sum,np.min,np.max,np.std,statistics.mode,np.median])

                   sum  min  max       std  mode  median
Species
Iris-setosa      170.9  2.3  4.4  0.381024   3.4     3.4
Iris-versicolor  138.5  2.0  3.4  0.313798   3.0     2.8
Iris-virginica   148.7  2.2  3.8  0.322497   3.0     3.0